@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dcb1ae;
}

.App {
  font-family: "Comfortaa", cursive;
}

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  /*overflow: hidden;*/
}

#navbar,
#shelf,
#main-content {
  float: left;
}

#shelf,
#main-content {
  height: 90vh;
  position: fixed;
  top: 11vh;
}

#main-content {
  right: 30vw;
  width: 70vw;
  background-color: #709fb0;
  top: 90px;
}

#cart,
#user-shelf {
  top: 90px;
  position: relative;
}

#user-shelf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 300px;
}

#addItemForm {
  position: fixed;
  top: 87px;
  z-index: 1;
  background: #709fb0;
  padding: 25px;
  border-bottom: 1px solid black;
  width: 100%;
}

#addItemForm input[type="text"] {
  padding: 5px;
  width: 15rem;
  font-size: large;
}

.item,
.cartCard {
  width: 15rem;
  padding: 30px;
  margin: 5px;
  background-color: #709fb0;
  border-radius: 5px;
}

.ad {
  margin: 9rem;
  font-weight: bold;
}
