.App {
  text-align: center;
}
.navbar,
.shelf,
.main-content {
  float: left;
  color: white;
}

.navbar {
  width: 100vw;
  height: 10vh;
  background-color: orangered;
  border-bottom: 1px solid white;
}

.shelf,
.main-content {
  height: 90vh;
  position: fixed;
  top: 11vh;
}

.shelf {
  width: 30vw;
  background-color: palegreen;
}

.main-content {
  left: 30vw;
  width: 70vw;
  background-color: lightblue;
}

.item {
  color: black;
}