.App {
  text-align: center;
  display: flex;
}

#navbar,
#shelf,
#main-content {
  float: left;
}

#navbar {
  width: 100vw;
  height: 87px;
  background-color: orangered;
  border-bottom: 1px solid white;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

#shelf,
#main-content {
  height: 90vh;
  position: fixed;
  top: 11vh;
}

#shelf {
  width: 30vw;
  background-color: palegreen;
  right: 0;
  top: 90px
}

#main-content {
  right: 30vw;
  width: 70vw;
  background-color: lightblue;
  top: 90px
}

.item {
  color: black;
}

#cart,
#user-shelf,
#editItemForm {
  top: 90px;
  position: relative;
}